* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
  height: 25rem;
  display: flex;
  /* background-color: red; */
}
.btn {
  height: 20rem;
  width: 3rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;

  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.4);
  /* transition: all 0.1s ease; */
}
.btn.pressed {
  transform: translateY(8px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
