* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(226, 225, 225);
}
.intro {
  position: absolute;
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  transition: all 0.5s;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* gap: 10px; */
}
.bars {
  height: 100%;
  width: 100%;
  background-color: white;
}
.black{
  background-color: black;
}
h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  height: 25rem;
  display: flex;
  /* background-color: red; */
}
.btn {
  height: 20rem;
  width: 3rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;

  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.4);
  /* transition: all 0.1s ease; */
}
.btn.pressed {
  transform: translateY(8px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
